# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore binary output file
**/a.out

# Ignore Mac OS files
**/.DS_Store

# Ignoring CGAL compiling files
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/CMakeFiles

# Ignore old solutions
**/old/

# Ingore tutorial slides and examples
**/tutorial/
